{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "vueIndentScriptAndStyle": false,
    "printWidth": 100,
    "singleAttributePerLine": false,
    "bracketSpacing": true,
    "arrowParens": "always"
}
